# -------------------------
# MYSQL
# -------------------------
MYSQL_DATABASE=guiasdb
MYSQL_USER=spring
MYSQL_PASSWORD=spring123
MYSQL_ROOT_PASSWORD=root123

# -------------------------
# SPRING
# -------------------------
SPRING_PORT=8080

# -------------------------
# AWS
# -------------------------
AWS_REGION=us-east-1
AWS_S3_BUCKET_NAME=mi-bucket-guias
AWS_ACCESS_KEY=
AWS_SECRET_KEY=

# -------------------------
# SECURITY
# -------------------------
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=
APP_SECURITY_MOCK_JWT=true
